version: '3.8'
services:
  shipment-service:
    build: .
    container_name: shipment_app
    ports:
      - "8001:8001"
    env_file: .env
    environment:
      - PYTHONUNBUFFERED=1
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
    restart: always
    networks:
      - tst-network

networks:
  tst-network:
    external: true